<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About US</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='about.css') }}" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='images.png') }}">

  </head>
  <body>
    <div class="container">
      <p class="slide-top">Trusted Name for Quality Healthcare</p>
      <ul class="slide-top">
        <li class="slide-top">Qualified Staff of Doctors</li>
        <li class="slide-top">Feel like you are at Home Services</li>
        <li class="slide-top">24x7 Emergency Services</li>
        <li class="slide-top">Easy and Affordable Billing</li>
      </ul>
    </div>
    <div class="container">
      <p class="slide-top">About Promoter</p>
      <span class="slide-top"
        >Narayan Hospitals Ltd. is the brainchild of Mr. Narayan, an eminent
        visionary, who is currently serving as the CMD of the company and is one
        of the main promoters. Mr. Shah is also the Director of Calica
        Construction and Impex Private limited, a leading realty developer
        company in the state of Gujarat. Academically, Mr. Shah is a gold
        medalist in civil engineering. Professionally, he is a technocrat
        businessman with a dynamic approach. He is also one of the leading
        structural engineers in India. Currently, Mr. Shah is involved in the
        execution of an IT SEZ project with a capex of around 300 crore in the
        city of Ahmedabad. He is also at the helm of two leading real estate
        projects in the city of Gandhinagar. It was Mr. Shah’s vision to build a
        hospital that provides effective, compassionate and affordable
        healthcare to the people of Gujarat. To execute his grand vision, he has
        roped in renowned doctors and other medical practitioners of the region
        in the service of humanity.
      </span>
    </div>
    <div class="container">
      <p class="slide-top">About Narayan Hospitals Ltd.</p>
      <span class="slide-top"
        >Narayan Hospitals Limited was incorporated on 09th November, 2012 under
        the provisions of the Companies Act, 1956 in Ahmedabad with Company
        Identification Number (CIN) U85110GJ2012PLC0726 as a private limited
        company. As the company gained eminence as a leading healthcare provider
        in Gandhinagar, it was converted to a public limited company with the
        name Narayan Hospitals Limited pursuant to fresh certificate of
        incorporation consequent upon conversion dated 23rdJuly, 2018.
        <br />
        <h3 class="slide-top">
          Reach Out To Us And Let Us Know How We Can Be Of Any Assistance!
        </h3>
        • FOR BOOKING APPOINTMENTS: +917575006000 / +917575009366
        <br />
        • MAIN RECEPTION:+919879752777
        <br />
        • EMERGENCY CONTACTS: +917575007707 / +917575009000
        <br />
        • PATIENT COORDINATOR: +917575007705
      </span>
    </div>
  </body>
</html>
